.btn {
  display: inline-block;
  padding: 12px 20px;
  min-width: 270px;
  box-shadow: 0 5px 10px rgb(225 83 83 / 15%);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--light-color);
  background: var(--red-color);
}
