.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: var(--shadow);
  background-color: var(--light-black-color);

  &__inner {
    @include flex-all-sb;

    padding: 20px 0;
  }

  &__phone {
    font-weight: 700;
    line-height: 15px;
    color: var(--light-color);
  }
}
