<section class="beginer">
  <div class="container">
    <h2 class="beginer__title section-title">
      <span class="section-title-text">
        Новичкам
      </span>
    </h2>
    <ul class="list-reset beginer__list">
      <li class="beginer__item">
        <picture>
          <source srcset="img/beginer-1.avif" type="image/avif">
          <source srcset="img/beginer-1.webp" type="image/webp">
          <img loading="lazy" src="img/beginer-1.jpg" class="beginer__item-img" width="370" height="288"
            alt="Обучающие программы на любой уровень">
        </picture>
        <div class="beginer__item-content">
          <svg class="beginer__item-svg">
            <use href="img/sprite.svg#beginer-1" xlink:href="img/sprite.svg#beginer-1"></use>
          </svg>
          <h3 class="beginer__item-title">
            Обучающие программы
            на любой уровень
          </h3>
          <p class="beginer__item-text">
            Индивидуальный подбор
            программ по результатам
            тестирования
          </p>
          <a href="#" class="btn-reset btn beginer__btn">
            Изменить свою жизнь
          </a>
        </div>
      </li>
      <li class="beginer__item">
        <picture>
          <source srcset="img/beginer-2.avif" type="image/avif">
          <source srcset="img/beginer-2.webp" type="image/webp">
          <img loading="lazy" src="img/beginer-2.jpg" class="beginer__item-img" width="370" height="288"
            alt="Обучающие программы на любой уровень">
        </picture>
        <div class="beginer__item-content">
          <svg class="beginer__item-svg">
            <use href="img/sprite.svg#beginer-2" xlink:href="img/sprite.svg#beginer-2"></use>
          </svg>
          <h3 class="beginer__item-title">
            Индивидуальная работа
            с каждый клиентом
          </h3>
          <p class="beginer__item-text">
            Индивидуальный подбор
            программ по результатам
            тестирования
          </p>
          <a href="#" class="btn-reset btn beginer__btn">
            Изменить свою жизнь
          </a>
        </div>
      </li>
      <li class="beginer__item">
        <picture>
          <source srcset="img/beginer-3.avif" type="image/avif">
          <source srcset="img/beginer-3.webp" type="image/webp">
          <img loading="lazy" src="img/beginer-3.jpg" class="beginer__item-img" width="370" height="288"
            alt="Обучающие программы на любой уровень">
        </picture>
        <div class="beginer__item-content">
          <svg class="beginer__item-svg">
            <use href="img/sprite.svg#beginer-3" xlink:href="img/sprite.svg#beginer-3"></use>
          </svg>
          <h3 class="beginer__item-title">
            Первые результаты уже
            во время обучения
          </h3>
          <p class="beginer__item-text">
            Индивидуальный подбор
            программ по результатам
            тестирования
          </p>
          <a href="#" class="btn-reset btn beginer__btn">
            Изменить свою жизнь
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
