<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img loading="lazy" src="img/header-logo.svg" class="header__image" width="81" height="70" alt="logo">
      </a>
      <nav class="nav header__nav" title="menu">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link active">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Программы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Обучение</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <a href="tel:+78435005573" class="header__phone"><no-typography>+7(843) 500-55-73</no-typography></a>
    </div>
  </div>
</header>
