<section class="hero">
  <div class="hero__wrap">
    <div class="container">
      <div class="hero__inner">
        <h1 class="hero__title">
          Лучший консалтинг
          в мире финансов
        </h1>
        <p class="hero__text">
          Получите актуальные знания от экспертов и
          измените свою жизнь в лучшую сторону!
        </p>
        <a href="#" class="hero__btn btn btn-reset">Изменить свою жизнь</a>
        <p class="hero__sub-text">
          По окончании обучения вы получаете сертификат
          международной компании ФОРВАРД
        </p>
      </div>
    </div>
  </div>
  <ul class="hero__social social list-reset">
    <li class="social__item">
      <a href="#" target="_blank" class="social__link" aria-label="FaceBook">
        <svg>
          <use xlink:href="img/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" target="_blank" class="social__link" aria-label="Pinterest">
        <svg>
          <use xlink:href="img/sprite.svg#pinterest"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" target="_blank" class="social__link" aria-label="Instagram">
        <svg>
          <use xlink:href="img/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
