<section class="trader">
  <div class="trader__inner">
    <h2 class="trader__title section-title">
      <span class="section-title-text">
        Трейдерам
      </span>
    </h2>
    <ul class="list-reset trader__list client-list">
      <li class="trader__item client-list__item">
        <h3 class="client-list__item-title">
          Специальные предложения от партнеров
        </h3>
        <p class="client-list__item-text">
          Индивидуальный подборпрограмм по результатам тестирования
        </p>
      </li>
      <li class="trader__item client-list__item">
        <h3 class="client-list__item-title">
          Повышение<br>
          квалификации
        </h3>
        <p class="client-list__item-text">
          Индивидуальный подборпрограмм по результатам тестирования
        </p>
      </li>
      <li class=" trader__item client-list__item">
        <h3 class="client-list__item-title">
          Актуальная<br>
          аналитика
        </h3>
        <p class="client-list__item-text">
          Индивидуальный подборпрограмм по результатам тестирования
        </p>
      </li>
    </ul>
    <div class="trader__link-wrap">
      <a href="#" class="btn-reset btn trader__btn">Стать трейдером</a>
      <a href="#" class="trader__link">Узнать больше</a>
    </div>
  </div>
</section>
