// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Gotham Pro", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --light-black-color: #111;
  --dark-color: #222;
  --red-color: #e31e25;
  --grey-color: #777;
  --light-grey-color: #bbb;
  --blue-color: #2f80ed;

  // cshadows
  --shadow: 0 5px 20px rgb(0 0 0 / 5%);
}
